/** Configured For Applets **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  location: 5;
  theme: "~/.config/wpg/templates/colors-rofi-dark";
}
/** 
yoffset: -583;
  xoffset: -5;
  **/
